<div class="container">
    <div id="header">
        <h1>Transactions</h1>
    </div>
    <div class="row labels center">
        <div class="col-4">
            <span>To:</span>
        </div>
        <div class="col-4">
            <span>From:</span>
        </div>
        <div class="col-4">
            <span>Amount:</span>
        </div>
    </div>
    <div class="transaction-container">
        <div *ngFor="let t of transactions | async" class="row center transaction">
            <div class="col-4">
                <span>{{ t.to }}</span>
            </div>
            <div class="col-4">
                <span>{{ t.from }}</span>
            </div>
            <div class="col-4">
                <span>{{ t.amount }}</span>
            </div>
        </div>
    </div>

</div>